/* Watermark: vee Author: vee */

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

#youtube-video {
    position: absolute;
    top: -60px; 
    left: 0;
    width: 100%;
    height: calc(100% + 60px); 
    border: none;
    pointer-events: none;
}



.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    width: 100%;
}

h1 {
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: textGlow 4s linear infinite;
}

.light-bar {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8);
    transform: scaleX(0);
    transform-origin: center;
    animation: extend 4s linear infinite;
    margin-top: -45px;
}

@keyframes extend {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }
    80% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

@keyframes textGlow {
    0% {
        opacity: 0;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
    50% {
        opacity: 1;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5), 0 0 20px white;
    }
    80% {
        opacity: 1;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5), 0 0 20px white;
    }
    100% {
        opacity: 0;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
}

.tip-popup {
    position: absolute;
    top: -50px; 
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    width: fit-content;
    max-width: 80%;
    text-align: center;
    font-size: 1.2em;
}

.tip-light-bar {
    width: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    margin-bottom: 5px;
    transition: width 5s linear;
}

.tip-popup.show .tip-light-bar {
    width: 100%;
}

.tip-popup.show {
    opacity: 1;
    top: 10%; 
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo-container.show {
    opacity: 1;
}

.logo-container img {
    width: 200px;
    height: auto;
}
